<form>
	<h2>Change the Game Settings</h2>
	<label for="players">Players
	<%= select_tag('players', options_for_select((Game::MINIMUN_PLAYERS..Game::MAXIMUN_PLAYERS),@game.players)) %>
	</label>
	<label for="cards_per_player">Cards per Player
	<%= select_tag('cards_per_player', options_for_select((Game::MINIMUN_CARDS..@game.maximun_cards_per_player),@game.cards_per_player)) %>
	</label>
	<%= submit_tag('Save and Show Cards') %>
</form>