<%= render 'form' %>
<div id="cards">
	<% @game.results.each do |player,cards| %>
	<h2>Player <%= player + 1 %></h2>
		<ul class="group_of_cards">
			<% cards.each do |card_id| %>
				<li><%= card_id %><%= image_tag(Card.image(card_id),alt: card_id) %></li>
			<% end %>
		</ul>
		<hr />
	<% end %>
</div>
