// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style-type: none;

  widht: 100%;
	li {

		width: 150px;
		padding: 5px;
		border: 1px solid gray;
		display: inline;
		white-space:nowrap;
		line-height:150px;
	}
}
